argh
docutils
future
jdcal
MarkupSafe
matplotlib
mock
nose
numpy
openpyxl
pockets
py
pybivio
Pygments
pyparsing
pytest
python-dateutil
pytz
requests
scipy
six
# Is this required?
# Sphinx==1.2
Sphinx
sphinxcontrib-napoleon
tox
xlrd
# This dependency needs to be installed manually. It's picked up
# by the bivio_pyenv_local installer
# PyQt4
